<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.10.110:3306/clientesRepasoProcesos?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">userClientes</property>
        <property name="connection.password">123</property>
        
        <!-- Connection pool settings -->
        <property name="connection.pool_size">10</property>
        
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Actualizar esquema de base de datos -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- JDBC batch size -->
        <property name="jdbc.batch_size">20</property>

        <!-- Mapping class -->
        <mapping class="net.javaguides.hibernate.entity.Cliente"/>
        

    </session-factory>
</hibernate-configuration>